<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>  
<settings>
<!-- 配置了日志为log4j -->
<setting name="logImpl" value="LOG4J"/>
<!-- 配置了可使用二级缓存 -->
<setting name="cacheEnabled" value="true"/>
<!--  设置懒加载-->
<setting name="lazyLoadingEnabled" value="true"/>
<setting name="aggressiveLazyLoading" value="false"/>
</settings>
    <typeAliases>  
    </typeAliases>  
     
     <mappers>  
        <mapper resource="com/sms/li/dao/demoMapper.xml"/>
          <mapper resource="com/sms/li/dao/useSecondLevelCache.xml"/>
         <mapper resource="com/sms/anping/dao/userMapper.xml"/>
        <mapper resource="com/sms/anping/dao/studentMapper.xml"/>
   
    </mappers>
</configuration>