<?xml version="1.0" encoding="utf-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.sms.anping.dao.StudentDao">  
   <select id="findStudent" resultMap="StudentList">
  		select * from t_student;
  </select>
  
   
  <resultMap type="com.sms.li.po.Student" id="StudentList">
	        <id column="studentId" property="id" />
	        <result column="name" property="username" />
	        <result column="sex" property="sex" />
   </resultMap>
   
   <!--  这是批量添加student的sql语句-->
   <insert id="addStudentByBatch"  parameterType="List" >
          insert into t_student(studentId,name,sex) values
          <foreach     collection="list"  item="student" index="index"    separator="," >
          (#{student.id},#{student.username},#{student.sex})
          </foreach>
    </insert>
    <!--  这是批量删除的sql语句-->
    <delete id="deleteStudentByBatch" parameterType="List">
    		delete t_student from t_student where studentId in (
    		<foreach collection="list" item="id" separator="," index="index">
    		  #{id}
    		</foreach>
    		);
    </delete>
    
 
   
   
 </mapper>